:root {
	--card-background-color: yellow;
	--card-border: 10px solid rgb(225, 96, 45);
	--card-text-color: black;
}

/****************************************************/

#contacts {
	display: grid;
	grid-template-columns: 0.5fr;
	grid-template-rows: repeat(4, 1fr);
	justify-content: center;
	align-items: center;
	color: var(--card-text-color);
}

/****************************************************/

#contacts > header {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	background-color: yellow;
	border: var(--card-border);
	color: var(--card-text-color);
}

/****************************************************/

#bee-1,
#bee-2 {
	width: 10%;
	height: auto;
}

/****************************************************/

#chef,
#manager,
#waiter {
	display: flex;
	flex-direction: column;
	justify-self: center;
	border: var(--card-border);
	background-color: var(--card-background-color);
	color: var(--card-text-color);
	width: 60%;
	padding: 1.2em;
}

/****************************************************/

#chef > .info,
#manager > .info,
#waiter > .info {
	margin-left: 2em;
	line-height: 1.5;
}

/****************************************************/

.info > h3 {
	margin-top: 0.5em;
}

/****************************************************/

#manager,
#waiter {
	margin-top: 1.5em;
}
