:root {
	--photo-width: 20%;
	--photo-height: 50%;
}
/***********************************************************************************/

#content {
	display: grid;
	grid-template-rows: repeat(4, 1fr);
	grid-template-columns: 0.55fr;
	justify-content: center;
	align-items: center;
}

/***********************************************************************************/

#left-bee,
#right-bee {
	width: var(--photo-width);
	height: var(--photo-height);
}

/***********************************************************************************/

#content > header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border: 10px rgb(178, 106, 18);
	border-radius: 5%;
	border-style: inset;
	margin-top: 2em;
	background-color: yellow;
	color: black;
}

/***********************************************************************************/
