:root {
	--card-border: 15px solid rgb(231, 138, 17);
	--card-background-color: yellow;
}

/***********************************************************************************/

html {
	box-sizing: border-box;
}

body {
	background-image: url("../assets/images/honeycomb.png");
}

/***********************************************************************************/

*,
*::before,
*::after {
	box-sizing: inherit;
}

/***********************************************************************************/

* {
	margin: 0;
	padding: 0;
}

/***********************************************************************************/

p,
h1,
h2,
h3 {
	overflow-wrap: break-word;
}
/***********************************************************************************/

/***********************************************************************************/

p {
	text-wrap: balance;
}

/***********************************************************************************/

h1,
h2,
h3,
h3 {
	text-wrap: balance;
}

/***********************************************************************************/

.outer-container {
	display: flex;
	flex-direction: column;
	border: var(--card-border);
	margin-left: 2em;
	margin-right: 2em;
	margin-top: 1em;
	border-radius: 20px;
}

/***********************************************************************************/

.inner-container {
	background-color: var(--card-background-color);
}

/***********************************************************************************/

#content {
	/* display: flex; */
	/* flex-direction: column; */
	background-color: rgb(238, 205, 144);
	width: fit-content;
	/* width: 70%; */
	margin-left: 40em;
	margin-right: 1em;
	border-radius: 50px;
	margin-top: 5em;
	/* padding: 2em; */
}

/***********************************************************************************/

#content > header > section .inner-container {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	flex-wrap: wrap;
	align-items: center;
	font-size: 2rem;
}

/***********************************************************************************/

#left-bee,
#right-bee {
	width: 10%;
}

/***********************************************************************************/

#short-description {
	border: var(--card-border);
	background-color: var(--card-background-color);
	font-size: 1.5rem;
	margin-left: 1em;
	margin-right: 1em;
	margin-bottom: 2em;
	margin-top: 1em;
	/* padding: 1.2em; */
}

/***********************************************************************************/

#short-description > p:nth-child(even) {
	margin-top: 1em;
	font-weight: bold;
}

/***********************************************************************************/

#hours {
	border: var(--card-border);
	background-color: var(--card-background-color);
	margin-left: 2em;
	margin-right: 1em;
	margin-bottom: 2em;
	font-size: 1.5rem;
}

/***********************************************************************************/

#hours > ul {
	margin-left: 2em;
	margin-right: 1em;
	margin-bottom: 2em;
	margin-top: 1em;
	list-style: none;
	font-size: 1.3rem;
}

/***********************************************************************************/

#location {
	border: var(--card-border);
	background-color: var(--card-background-color);
	margin: 2em;
	padding: 1em;
	font-size: 1.5rem;
}

/***********************************************************************************/

#location > p {
	margin-left: 1.2em;
	font-size: 1.3rem;
}

/***********************************************************************************/
