:root {
	--card-border: 10px solid rgb(228, 107, 37);
	--card-background-color: yellow;
}

/***************************************************************/

/* body {
	background-image: url("../assets/images/honeycomb.png");
} */

/***************************************************************/

#content {
	display: flex;
	flex-direction: column;
	background-color: rgb(238, 205, 144);
	margin-top: 2em;
	border-radius: 30px;
	padding: 1em;
}

/***************************************************************/

#menu-title {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
	border: var(--card-border);
	background-color: var(--card-background-color);
	margin-left: 5em;
	margin-right: 5em;
	font-size: 1.5rem;
}

/***************************************************************/

#left-bee,
#right-bee {
	width: 10%;
	height: auto;
}

/***************************************************************/

#menu-container {
	display: grid;
	grid-template-rows: 1fr 1fr;
	grid-template-columns: 0.5fr 1fr;
	margin-top: 2em;
}

/***************************************************************/

#beverages-container {
	display: grid;
	grid-template-rows: repeat(3, 1fr);
	grid-template-columns: repeat(1, 0.5fr);
}

/***************************************************************/

#beverages-container > h2 {
	margin-left: 5em;
	margin-top: 1em;
}

/***************************************************************/

#honey-tea {
	grid-row: 2;
}

/***************************************************************/

#honey-tea,
#berry-tea {
	display: flex;
	flex-direction: row;
	align-items: center;
	margin-top: 1em;
}

/***************************************************************/

#honey-tea > h3::after,
#berry-tea > h3::after {
	content: " .............................. ";
	text-align: center;
}

/***************************************************************/
