* {
	margin: 0;
	padding: 0;
}

/*************************************************************************************/
header {
	background-color: rgb(230, 227, 68);
}
/*************************************************************************************/

nav {
	display: flex;
	flex-direction: row;
	justify-content: space-evenly;
	align-items: center;
}

/*************************************************************************************/

button {
	cursor: pointer;
	background-color: red;
	border: 1px solid black;
	color: white;
	border-radius: 20px;
	font-size: 2em;
	width: 9%;
	height: auto;
	margin-top: 1rem;
	margin-bottom: 1rem;
}

/*************************************************************************************/
