html {
	box-sizing: border-box;
}

/**************************************************/

*,
*::before,
*::after {
	box-sizing: inherit;
}

/**************************************************/

* {
	margin: 0;
	padding: 0;
}

/**************************************************/

body {
	line-height: 1.5;
	min-height: 100vh;
}

/**************************************************/
p,
h1,
h2,
h3 {
	overflow-wrap: break-word;
}

/**************************************************/

p {
	text-wrap: pretty;
}

/**************************************************/

h1,
h2,
h3 {
	text-wrap: balance;
}
