:root {
	--card-background-color: rgba(36, 36, 36, 0.7);
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background-image: url("../assets/images/background.jpg");
	background-size: 100vw 100vh;
}

body>header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgba(36, 36, 36, 0.804);
	width: 100vw;
	padding-bottom: 1em;
	color: white;
}

nav>ul {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 40px;
	padding: 0.5em;
}

li {
	list-style: none;
}

button[type="button"] {
	cursor: pointer;
	background-color: transparent;
	border: none;
	color: inherit;
}



.card {
	gap: 10px;
	margin-top: 40px;
	border: 3px solid blue;
	background-color: var(--card-background-color);
	color: white;
	padding: 2em;
}

.card,
.image-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.image-container>img {
	width: 48vw;
	border-radius: 50%;
}

#menu {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
		"header header"
		"starters lunch"
		"entrees pizza"
		". sides";
	margin-top: 2em;
	background-color: var(--card-background-color);
}

#menu>header {
	grid-area: header;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: unset;
}

#starters {
	display: grid;
	grid-template-columns: 0.3fr auto;
}