:root {
	--card-background-color: rgba(36, 36, 36, 0.7);
}

body {
	font-family: Arial, Helvetica, sans-serif;
	background-image: url("../assets/images/background.jpg");
	background-size: 100vw 100vh;
}

body>header {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	background-color: rgba(36, 36, 36, 0.804);
	padding-bottom: 1em;
	color: white;
}

nav>ul {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 40px;
	padding: 0.5em;
}

li {
	list-style: none;
}

button[type="button"] {
	cursor: pointer;
	background-color: transparent;
	border: none;
	color: inherit;
}

.card {
	gap: 10px;
	margin-top: 40px;
	border: 3px solid blue;
	background-color: var(--card-background-color);
	color: white;
	padding: 2em;
}

.card,
.image-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.image-container>img {
	width: 48vw;
	border-radius: 50%;
}

#menu {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-areas:
		"header header"
		"starters lunch"
		"entrees pizzas"
		". sides";
	justify-content: center;
	align-items: center;
	margin-top: 2em;
	padding: 1.5em;
	background-color: var(--card-background-color);
}

#menu>header {
	grid-area: header;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	background-color: unset;
}

#starters {
	grid-area: starters;
}

#starters,
#lunch,
#entrees,
#pizzas {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.starter,
.lunch,
.pizza {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.starter>header,
.lunch>header,
.entree>header,
.pizza>header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
}

#lunch {
	grid-area: lunch;
}

.wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	/* width: 100%; */
}

#pizzas {
	grid-area: pizzas;
}

#starters,
#lunch,
#entrees,
#pizzas {
	gap: 10px;
}