body {
	background-image: url("../assets/images/honeycomb.png");
}

/**********************************************************************/

#menu-header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	border: 5px solid orangered;
	background-color: yellow;
	margin-top: 1em;
}

/**********************************************************************/

#left-bee,
#right-bee {
	width: 10%;
	/* height: auto; */
}

/**********************************************************************/

#content {
	display: grid;
	grid-template-columns: 0.5fr 0.5fr;
	/* grid-template-rows: 40vh 1fr 1fr auto; */
	grid-template-areas:
		"starters lunch"
		"entrees pizzas"
		".  healthy-sides";
	background-color: #ffde73;
	margin-top: 1em;
}

/**********************************************************************/

#starters {
	display: flex;
	flex-direction: column;
	/* justify-content: space-around; */
	gap: 5px;
}

/**********************************************************************/

#starter-1,
#starter-2,
#starter-3 {
	display: grid;
	grid-template-columns: 0.5fr 0.2fr;
	/* grid-template-rows: auto auto; */
}

/**********************************************************************/

#lunch {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	gap: 5px;
}

/**********************************************************************/

#lunch-1,
#lunch-3,
#lunch-4 {
	display: grid;
	grid-template-columns: 1fr 0.2fr;
	grid-template-rows: 0.2fr 1fr 0.5fr;
}

/**********************************************************************/

#lunch-1 > .info {
	font-style: italic;
	grid-row: 3;
}

/**********************************************************************/

#lunch-2 > header {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 50px;
}

/**********************************************************************/

#new-lunch-img {
	width: 5%;
}

/**********************************************************************/

#lunch-2 {
	border: 2px dotted black;
}

/**********************************************************************/

#pizzas {
	display: grid;
	grid-template-columns: 1fr;
	/* grid-template-rows: 0.2fr 0.2fr 0.2fr; */
}

/**********************************************************************/

#pizza-1 {
	display: flex;
	flex-direction: row;
	/* gap: 50px; */
}

/**********************************************************************/

#pizza-2 {
	display: grid;
	grid-template-columns: 1fr 1fr;
	/* grid-template-rows: 0.2fr 0.2fr 1fr; */
}
